<h3>Add Student Form</h3>
<label>Student Name: {{ studentName }}</label>
<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="student-form">
    <div class="form-row">
        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" [(ngModel)]="studentName" />
            <label *ngIf="submitted && f.name.errors" class="error-label">Name is required</label>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" />
            <div *ngIf="submitted && f.email.errors">
                <label *ngIf="f.email.errors.required" class="error-label">Email is required</label>
                <label *ngIf="f.email.errors.email" class="error-label">Email should be valid</label>
            </div>
        </div>         
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>Phone</label>
            <input type="text" formControlName="phone" />
            <label *ngIf="submitted && f.phone.errors" class="error-label">Phone is required</label>
        </div>
        <div class="form-group">
            <label>Course</label>
            <input type="text" formControlName="course" />
            <label *ngIf="submitted && f.course.errors" class="error-label">Course is required</label>
        </div>         
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>Course Fee</label>
            <input type="text" formControlName="courseFee" />
            <label *ngIf="submitted && f.courseFee.errors" class="error-label">courseFee is required</label>
        </div>        
    </div>

    <div class="form-buttons">
        <button type="submit" class="card card-small" >Add Student</button>
    </div>
</form>